<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>python jinja templates- ex2</title>
</head>

<body>
    <form action="/signup" method="post">
        <h2>New user? Signup here:</h2>
        <input name="first_name" placeholder="First Name" />
        <input name="last_name" placeholder="Last Name" />
        <input type="submit" value="Signup">
    </form>
</body>

</html>