.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding:2px;
    margin: 3px;
    font-style: italic;
    text-align: center; 
}
button{
    display: block;
    /* align-self: center; */
    margin: 0 auto;
}
body{
    background-color:rgb(244, 247, 248);
}
#themarker_span li{
    direction: rtl;
    text-align: right;
}